* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* HEADER */
header {
  background: #222;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 50px 20px;
  text-align: center;
}

.skills span {
  background: #222;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}

/* PROJECTS */
.project {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
}

.project a {
  display: inline-block;
  margin: 10px;
  color: #667eea;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}
